.preview-container {
  border-left: solid 1px var(--slate-300);
  height: 100%;
  // width: 100%;
}

.markdown-bar {
  display: flex;
  width: 100%;
  border-left: solid 1px var(--slate-300);
  height: 42px;
  align-items: center;
  font-family: Roboto, "Sans-serif";
  padding: 0 20px;
}

.markdown-bar p {
  letter-spacing: 3px;
  font-weight: 500;
  color: var(--slate-500);
  font-family: Roboto, "Sans-serif";
}

.preview {
  // padding: 22px 23px;
  padding: 10px 20px 30px 20px;

  // border: solid 1px pink;
  height: 100%;
  max-width: 672px;
  width: 100%;
  margin: 0 auto;
  overflow-y: scroll;
  max-height: 84vh;
  // background: blue;
}



.toggle-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
}

svg path {
  transition: fill 0.2s ease-in;
}

.toggle-preview:hover svg path {
  fill: var(--orange-accent);
}
