<div
  class="del-modal"
  [style]="{ display: modalService.isOpened ? 'block' : 'none' }"
>
  <h4>Delete this document?</h4>
  <p>
    Are you sure you want to delete the ‘{{currDocService.getCurrDocument().name}}’ document and its contents?
    This action cannot be reversed.
  </p>
  <button id="btn-con-del" (click)="deleteCloseModal()">Confirm & Delete</button>
</div>
<div
  (click)="modalService.hideModal()"
  class="lightbox"
  [style]="{ display: modalService.isOpened ? 'block' : 'none' }"
></div>
