.main-pages {
  width: 100%;
  height: 100%;
  color: var(--slate-500);
  background: var(--slate-100);
}

.markdown-bar {
  display: flex;
  width: 100%;
  height: 42px;
  align-items: center;
  background: var(--slate-200);
  font-family: Roboto, "Sans-serif";
  padding: 0 20px;
}

.markdown-bar p {
  letter-spacing: 3px;
  font-weight: 500;
  color: var(--slate-500);
  font-family: Roboto, "Sans-serif";
}

.markdown-page {
  width: 100%;
  height: 83vh;
  /* background: blue; */
}

.markdown-content {
  // width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  max-width: 688px;
}



/****************** ACTIVE STYLE EFFECTS **********************/
.content:focus {
  outline: none;
}
