.main {
  height: 100%;
  position: relative;
  display: flex;
}

.toolbar-sidebar {
  display: flex;
  width: 100%;
}

app-sidebar {
  flex: 0 0 auto;
}

app-toolbar {
  flex: 1 1 auto;
}

.main-content {
  flex: 1 1 auto;
}

.text-content {
  display: flex;
  height: 100%;
}

app-markdown-pane {
  // flex-grow: 1;
  width: 100%;
  max-width: 672px;
}

app-preview {
  // flex-grow: 1;
  width: 100%;
}
