

nav{
    width: 100%;
    height: 72px;
    background-color:var(--slate-800) ;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0 16px 0 0; 
}
.left-container{
    display: flex;
    align-items: center;
    gap:24px;
}
.h-icon{
    width: 72px;
    height: 72px;
    border: none;
    background-color: var(--slate-700);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease-in;
    cursor: pointer;
}
.h-icon:hover{
    background-color: var(--orange-accent);
}
.doc-name{
    display: flex;
    align-items: center;
    gap: 16px;
   
}
.doc-name p{
    font-size: 13px;
    font-weight: 200;
    color: var(--slate-500);
    margin-bottom: 3px;
}
.doc-name h5{
    font-size: 15px;
    font-weight: 400;
    color: var(--slate-100);
}

.doc-name::before{
   content: "";
   width: 1px;
   height: 40px;
   display: inline-block;
   background-color: var(--slate-600);
}

.right-container{
    display: flex;
    align-items: center;
    gap: 24px;
}

#btn-del{
    background: none;
    border: none;
    cursor: pointer;
}
#btn-del svg path{
    transition: fill 0.2s ease-in;
}
#btn-del:hover svg path{
 fill: var(--orange-accent);

}
#btn-save{
    display: flex;
    align-items: center;
    gap: 8px; 
    border: none;
    border-radius: 4px;
    background-color: var(--orange-accent);
    padding: 10px 16px;
    color: var(--slate-100);
    cursor: pointer;
    transition: background-color 0.2s ease-in;
}
#btn-save:hover{
    background-color: var(--orange-hover);
}