aside {
  width: 250px;
  height: 100%;
  background-color: var(--slate-900);
  padding: 1.75rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.75rem;
  position: relative;
  


  .heading {
    color: var(--slate-500);
    font-weight: 500;
    letter-spacing: 0.125rem;
    font-size: 0.875rem;
    margin: 0 0 30px 0;
  }

  button {
    width: 12.625rem;
    height: 2.5rem;
    border-radius: 0.25rem;
    border-style: none;
    background-color: var(--orange-accent);
    font-size: 0.9375rem;
    color: var(--slate-100);
    display: flex;
    gap: 0.75rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }

  button:hover {
    background-color: var(--orange-hover);
  }

  .first-section {
    display: flex;
    flex-direction: column;
    row-gap: 1.75rem;
  }

  #file-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    row-gap: 1.25rem;

    div {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 1rem;
      cursor: pointer;
    }

    div:hover li h3 {
      color: var(--orange-accent);
    }

    li {
      display: flex;
      flex-direction: column;
      row-gap: 0.125rem;

      p {
        color: var(--slate-500);
        font-size: 0.8125rem;
        margin: 0 0 3px 0;
        font-weight: 100;
      }
      h3 {
        color: var(--slate-100);
        font-size: 0.9375rem;
        font-weight: 400;
        transition: color 0.2s ease-in;
      }
    }
  }
}

app-theme-toggler {
  position: absolute;
  bottom: 10px;
  left: 24px;
}
