/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --slate-1000: #151619;
  --slate-900: #1d1f22;
  --slate-800: #2b2d31;
  --slate-700: #35393f;
  --slate-600: #5a6069;
  --slate-500: #7c8187;
  --slate-400: #c1c4cb;
  --slate-300: #e4e4e4;
  --slate-200: #f5f5f5;
  --slate-100: #ffffff;
  --orange-accent: #e46643;
  --orange-hover: #f39765;
}

html,
body {
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  position: relative;
  height: 100vh;
  // overflow: hidden;
}

input {
  font-family: "Roboto Mono", monospace;
}
.preview {
  color: var(--slate-500);
  font-size: 14px;

  *{
    line-height: 25px;
  }

  blockquote {
    font-family: "Roboto Slab", sans-serif;
    color: var(--slate-700);
    font-weight: 700;
    background-color: var(--orange-accent);
    border-radius: 5px;
    margin-top: 1.5rem;
    p {
      background-color: var(--slate-200);
      margin-left: 3px;
      padding: 0.8rem 1rem 0.8rem 2rem;
    }
    a{
      text-decoration: underline;
      color: var(--slate--700);
    }
  }

  pre {
    margin-top: 1.5rem;
    padding: 10px;
    background-color: var(--slate-200);
    border-radius: 4px;
    padding: .3rem 2rem 0 2rem;
    margin-bottom: 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Roboto Slab", sans-serif;
    margin: 1rem 1rem 1rem 0rem;
    color: var(--slate-700);
    margin-top: 1.5rem;
  }

  h1 {
    font-family: "Roboto Slab", serif;
    font-size: 32px;
  }
  h2 {
    font-weight: 300;
    font-size: 25px;
  }
  h3 {
    font-size: 25px;
  }
  h4{
    font-size: 20px;
  }
  h5 {
    font-size: 15px;
  }
  h6 {
    font-size: 15px;
    color: var(--orange-accent)
  }

  ol{
    font-family: "Roboto Slab", sans-serif;
    margin-left: 2.5rem;
  }
  
  ul{
    font-family: "Roboto Slab", sans-serif;
    margin-left: 2.5rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
  }

  ul li::before {
    content: "";
    background: var(--orange-accent);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 15px;
    color: var(--orange-accent);
  }

  p{
    font-family: "Roboto Slab", sans-serif;
    margin-bottom: 1rem;
  }
}
